@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* light */
@theme {
  --color-background: #F8F9F9;
  --color-background-paper: #FFFFFF;
  --color-background-paper-dark: #FAFAFA;
  --color-background-paper-light: #ebebeb; /* border */

  --color-foreground-primary: #000000;
  --color-foreground-secondary: #00000080;

  --color-primary: #255A8F;
  --color-primary-light: #2c649c;
  --color-primary-dark: #1d4c7a;
  --color-primary-contrast: #ffffff;

  --color-secondary: #00C2FF;
  --color-secondary-light: #acb2fa;
  --color-secondary-dark: #9299f0;
  --color-secondary-contrast: #ffffff;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Poppins', sans-serif;
}

/* dark */
.dark {
  --color-background: #0D1120;
  --color-background-paper: #131629;
  --color-background-paper-dark: #0e1121;
  --color-background-paper-light: #1a1e36; /* border */

  --color-foreground-primary: #ffffff;
  --color-foreground-secondary: #AEB9E1;

  --color-primary: #255A8F;
  --color-primary-light: #2c649c;
  --color-primary-dark: #1d4c7a;
  --color-primary-contrast: #ffffff;

  --color-secondary: #00C2FF;
  --color-secondary-light: #acb2fa;
  --color-secondary-dark: #9299f0;
  --color-secondary-contrast: #ffffff;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Poppins', sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground-primary);
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

button {
  font-family: var(--font-body);
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
/* .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 99px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiFormLabel-asterisk {
  color: red;
}

/* Sidebar child line */
.menu-line {
  @apply pl-5 relative;
}

.menu-line::after {
  border-bottom-left-radius: 5px;
  border-color: transparent transparent #d3d3d3 #d3d3d3;
  border-style: solid;
  border-width: 1px;
  bottom: 50%;
  content: "";
  display: block;
  height: 80px;
  left: 0;
  position: absolute;
  width: 1rem;
  z-index: 2;
}